#main-panel-content-production{

}

#production-upper{
	height: 70px;
	background-color: #66669a;
	border-bottom : 5px solid #999ab6;
}

#production-upper, #production-upper-left, #production-upper-right{
	display: flex;
	flex-direction: row;
}
#production-upper-left {
	width: 50%;
}

#production-program-name {
	width:100%;
}

#production-program-counter, #production-program-counter-total {
	width: 75px;
}

#production-program-section {
	width: 60px;
}

#production-program-bend, 
#production-program-bend-total,
#production-program-rept, 
#production-program-rept-total{
	width: 40px;
}


#production-down{
	background-color: #66669a;
	height: 100%;
}

#production-down-left {
	width: 50%;
	height: 100%;
	border-right : 5px solid #999ab6;
}