#toplevel {
	display: flex;
	flex-direction: row;
	
	width:100%;
	height:100%;
/*	
	width: 1024px;
	height: 768px;	
*/	
	position:relative;
	margin:auto;
	
	padding-left: 5px;
	padding-bottom: 5px;
	
	background-color: #010080;
	
	font-family:helvetica;
	font-feature-settings:"kern";
	font-size: 12px;
} 

#main-content{	
	display: flex;
	flex-direction: column;
	
	width:100%;
}

#menu {
	width: 115px; 
	height: 100%;
	
	display: flex;
	flex-direction: column;
	
	background-color: #010080;
}

.menu-button {
	border: 2px outset #dddfff;
	border-radius: 1px;
	
	background-color: #9a9ab3;
	padding:5px;
	
	height:100%;
	
	margin-top: 5px;
 	margin-left: 5px;
	margin-right: 5px;
	
	text-align:center;
	
	color:#14145a;
	font-weight:bold;
}

.tabs-input{ 
  display: none; 
}

section {
	display: none;
}

#tab-production:checked ~ #main-content > #main-panel-production, 
#tab-handle:checked ~ #main-content > #main-panel-handle,
#tab-setting:checked ~ #main-content > #main-panel-setting, 
#tab-programming:checked ~ #main-content > #main-panel-programming,
#tab-technology:checked ~ #main-content > #main-panel-technology,
#tab-maintenance:checked ~ #main-content > #main-panel-maintenance,
#tab-diagnosis:checked ~ #main-content > #main-panel-diagnosis,
#tab-help:checked ~ #main-content > #main-panel-help
{
	margin: 10px 5px 5px 5px;
	
	border: 2px solid orange;
	outline: 5px solid #999ab6;
	
	display: flex;
	flex-direction: column;
	
	height:100%;
}

#tab-production:checked  ~ #menu > #production-button,
#tab-handle:checked  ~ #menu > #handle-button,
#tab-setting:checked ~ #menu > #setting-button, 
#tab-programming:checked ~ #menu > #programming-button,
#tab-technology:checked ~ #menu > #technology-button,
#tab-maintenance:checked ~ #menu > #maintenance-button, 
#tab-diagnosis:checked ~ #menu > #diagnosis-button,
#tab-help:checked ~ #menu > #help-button 
{
	background: #EBEBEB;
	border-color: #fff;
}

.main-panel-header{
	background-color: #b4a06d;
	height: 25px;

	font-weight:bold;
	
	display:flex;
	flex-direction: row;
	align-items: center;
}
/*===============================================================================*/
.main-panel-content{
	height: 100%;
	background-color: #999ab6;
	
	display: flex;
	flex-direction: column;
}

#invisible-button{
	visibility: hidden;
}

.main-panel-buttons{
	background-color: #ebebeb;
	height: 110px;
	padding:5px;
	
	display: flex;
	flex-direction: row;
}

.main-panel-button{
	width:100%;
	text-align:center;
}

.main-panel-button-icon{
	margin-left:auto;
	margin-right:auto;

	padding:30px;
	width:0px;;
	background-color: #7e7f9b;
	border: none;
	border-radius:50%;
}













